.movies__item {
    margin-bottom: 21px;
}

.focus-movie-item_add-button {
    border: none;
    background-color: #ff5959;
    padding: 10px 15px;
    color: #FFEEDB;
    font-size: 14px;
    transition: all 0.2s linear;
}